<%- include('partials/navbar') %>

<div class="container mt-4">
    <h2>Hồ sơ cá nhân</h2>

    <p><b>Họ tên:</b> <%= user.HoVaTen %></p>
    <p><b>Email:</b> <%= user.Email %></p>
    <p><b>SĐT:</b> <%= user.SoDienThoai %></p>
    <p><b>Vai trò:</b> <%= user.VaiTro %></p>
</div>

<%- include('partials/footer') %>